* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 60%;
  margin: 100px auto;

  font-size: 18px / 1.5;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

h2, p, ul {
  margin-bottom: 20px;
}

.image1 {
  width: 40%;
  float: left;
}

.image2 {
  width: 35%;
  float: right;
}

.final-logo {
  display: block;
  width: 15%;
  margin: 50px auto;
}